Options +FollowSymLinks
Options -Indexes
RewriteEngine on
DirectoryIndex index.php index.html index.shtml index.pl index.cgi


#401  Авторизация не выполнена
#ErrorDocument 401 http://domain.ru/errors/401.html 
#403  Доступ запрещен
#ErrorDocument 403 http://domain.ru/errors/403.html 
#404  Страница не найдена
#ErrorDocument 404 http://domain.ru/errors/404.html 
#500  Внутренняя ошибка сервера
#ErrorDocument 500 http://domain.ru/errors/500.html
